<!doctype html>
<html lang="en">
<head>
  <title>Beer Tracker</title>
</head>

<body>
  <h1>Good Beer Tracker</h1>
  <div class="container">
    <p> Where did I get that delicious beer? </p>
    <p><button>
      <a href="/new" type="button">Add Beer</a>
    </button></p>
  </div>
</body>
