<h1>New Beer</h1>
<form>
  Add your beer:<br>
  <input type="text" name="name" placeholder="name of beer"></input><br>
  Where did you buy?<br>
  <input type="text" location="location" placeholder="location"></input>
</form>
